In [49]:
import pandas as pd
import numpy as np
from scipy.stats import zscore

In [41]:
hrs_hcap = pd.read_csv('/Users/novak/Columbia-IPHD Dropbox/CU_IPHD/HCAP/python file/hrs-hcap.csv')
mex_cog = pd.read_csv('/Users/novak/Columbia-IPHD Dropbox/CU_IPHD/HCAP/python file/mex-cog.csv')

In [42]:
data = pd.concat([mex_cog, hrs_hcap], ignore_index=True)

# Drop rows where 'rage' is less than 65
data = data[data['rage'] >= 65]

# Replace 'hrs' with 0 where 'mex' is 1
# data.loc[data['mex'] == 1, 'hrs'] = 0

data.head()

,cunicah,np,id_mexcog,hrs,mex,wgt,binf1csidmental,binf1csidmemory,binf1csidput,binf1csidkept,...,ispouse,ichild,iothfam,inonfam,coresi,hhid,pn,id_hrs,binf1csidwordwrg,mmse
0,397.0,20.0,39720.0,0,1,1137.0,1.0,0.0,1.0,1.0,...,0,1,0,0,1.0,NaN,NaN,NaN,NaN,NaN
1,457.0,10.0,45710.0,0,1,4483.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0.0,NaN,NaN,NaN,NaN,NaN
2,460.0,10.0,46010.0,0,1,3041.0,0.0,0.0,1.0,0.0,...,0,1,0,0,1.0,NaN,NaN,NaN,NaN,NaN
3,460.0,20.0,46020.0,0,1,3981.0,0.0,0.0,1.0,0.0,...,0,0,0,0,1.0,NaN,NaN,NaN,NaN,NaN
4,533.0,10.0,53310.0,0,1,5450.0,0.0,0.0,1.0,0.0,...,0,0,0,1,0.0,NaN,NaN,NaN,NaN,NaN

In [44]:
# create variables 

# List of variables
vars_list = ['ispouse', 'ichild', 'iothfam', 'inonfam']

# Loop through the variables and create new ones
for var in vars_list:
    data[f'{var}F'] = data[var] * data['ifemale']
    data[f'{var}M'] = data[var] * (1 - data['ifemale'])
    data[f'{var}COR'] = data[var] * data['coresi']
    data[f'{var}NCOR'] = data[var] * (1 - data['coresi'])


'''
The loop generates new variables by interacting the original variables (ispouse, ichild, etc.) with other variables (ifemale, coresi) in the dataset.

g var'F = var'*ifemale:
This line creates a new variable (e.g., ispouseF) for each variable in the list, which is the product of the original variable (e.g., ispouse) and ifemale (presumably a binary variable indicating female gender, where 1 represents female and 0 represents male).
This interaction term will represent the relationship status specifically for female respondents.

g var'M = var'*(1-ifemale):
Similarly, this line creates a new variable (e.g., ispouseM) which is the product of the original variable (e.g., ispouse) and the inverse of ifemale.
This captures the relationship status for male respondents, assuming ifemale is 0 for males and 1 for females.

g var'COR = var'*coresi:
Here, a new variable (e.g., ispouseCOR) is created. It's the product of the original variable and coresi (which might indicate whether the respondent is co-residing, with 1 for co-residing and 0 otherwise).
This interaction term indicates the relationship status for respondents who are co-residing.

g var'NCOR = var'*(1-coresi):
This line creates a new variable (e.g., ispouseNCOR) which is the product of the original variable and the inverse of coresi.
It represents the relationship status for respondents who are not co-residing.

The overall purpose of these operations seems to be to create detailed interaction terms that distinguish respondent-informant relationships by gender and co-residing status. This allows for a more nuanced analysis of how these relationships vary across these different groups. */
'''

"\nThe loop generates new variables by interacting the original variables (ispouse, ichild, etc.) with other variables (ifemale, coresi) in the dataset.\n\ng var'F = var'*ifemale:\nThis line creates a new variable (e.g., ispouseF) for each variable in the list, which is the product of the original variable (e.g., ispouse) and ifemale (presumably a binary variable indicating female gender, where 1 represents female and 0 represents male).\nThis interaction term will represent the relationship status specifically for female respondents.\n\ng var'M = var'*(1-ifemale):\nSimilarly, this line creates a new variable (e.g., ispouseM) which is the product of the original variable (e.g., ispouse) and the inverse of ifemale.\nThis captures the relationship status for male respondents, assuming ifemale is 0 for males and 1 for females.\n\ng var'COR = var'*coresi:\nHere, a new variable (e.g., ispouseCOR) is created. It's the product of the original variable and coresi (which might indicate whether the respondent is co-residing, with 1 for co-residing and 0 otherwise).\nThis interaction term indicates the relationship status for respondents who are co-residing.\n\ng var'NCOR = var'*(1-coresi):\nThis line creates a new variable (e.g., ispouseNCOR) which is the product of the original variable and the inverse of coresi.\nIt represents the relationship status for respondents who are not co-residing.\n\nThe overall purpose of these operations seems to be to create detailed interaction terms that distinguish respondent-informant relationships by gender and co-residing status. This allows for a more nuanced analysis of how these relationships vary across these different groups. */\n"

In [45]:
# check for missing data 

# List of variables to check
variables = [
    'rage', 'rfemale', 'reduc', 'iage', 'ifemale', 'ieduc', 'coresi',
    'ispouse', 'ichild', 'iothfam', 'inonfam', 'fgcp', 'fmem', 'fexf',
    'flang', 'forient', 'mmse'
]

# Loop through variables
for var in variables:
    # Summary statistics (similar to codebook in Stata)
    print(f"Summary of {var}:")
    print(data[var].describe())
    print("\n")

    # Check for missing values and list the relevant rows
    missing_data = data[data[var].isna()][['id_mexcog', 'id_hrs', var]]
    if not missing_data.empty:
        print(f"Missing values for {var}:")
        print(missing_data)
        print("\n")

Summary of rage:
count    4045.000000
mean       75.504821
std         7.430508
min        65.000000
25%        69.000000
50%        75.000000
75%        81.000000
max       104.000000
Name: rage, dtype: float64


Summary of rfemale:
count    4045.000000
mean        0.583436
std         0.493050
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: rfemale, dtype: float64


Summary of reduc:
count    4036.000000
mean       10.591675
std         5.047852
min         0.000000
25%         7.000000
50%        12.000000
75%        14.000000
max        17.000000
Name: reduc, dtype: float64


Missing values for reduc:
      id_mexcog       id_hrs  reduc
34     172220.0          NaN    NaN
264    492520.0          NaN    NaN
297    550820.0          NaN    NaN
505    799410.0          NaN    NaN
647    905020.0          NaN    NaN
679    915113.0          NaN    NaN
1433  1334020.0          NaN    NaN
1631  1486320.0          NaN    NaN
3541        NaN  134189020.0    NaN


Summary of iage:
count    4044.000000
mean       61.245302
std        15.853808
min        18.000000
25%        51.000000
50%        64.000000
75%        73.000000
max       100.000000
Name: iage, dtype: float64


Missing values for iage:
      id_mexcog      id_hrs  iage
2867        NaN  57627020.0   NaN


Summary of ifemale:
count    4045.000000
mean        0.681829
std         0.465824
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: ifemale, dtype: float64


Summary of ieduc:
count    4044.000000
mean       13.137982
std         9.696674
min         0.000000
25%        12.000000
50%        12.000000
75%        16.000000
max        98.000000
Name: ieduc, dtype: float64


Missing values for ieduc:
     id_mexcog  id_hrs  ieduc
880  1009620.0     NaN    NaN


Summary of coresi:
count    4045.000000
mean        0.567367
std         0.495502
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: coresi, dtype: float64


Summary of ispouse:
count    4045.000000
mean        0.436836
std         0.496056
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: ispouse, dtype: float64


Summary of ichild:
count    4045.000000
mean        0.311990
std         0.463363
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: ichild, dtype: float64


Summary of iothfam:
count    4045.000000
mean        0.097899
std         0.297214
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: iothfam, dtype: float64


Summary of inonfam:
count    4045.000000
mean        0.134981
std         0.341746
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: inonfam, dtype: float64


Summary of fgcp:
count    4045.000000
mean       -0.293503
std         1.121503
min        -3.585000
25%        -1.076000
50%        -0.184000
75%         0.567000
max         2.336000
Name: fgcp, dtype: float64


Summary of fmem:
count    4045.000000
mean       -0.318380
std         1.072142
min        -3.554000
25%        -1.090000
50%        -0.198000
75%         0.509000
max         2.108000
Name: fmem, dtype: float64


Summary of fexf:
count    4044.000000
mean       -0.214456
std         1.061351
min        -3.158000
25%        -0.985250
50%        -0.111500
75%         0.601250
max         2.304000
Name: fexf, dtype: float64


Missing values for fexf:
     id_mexcog  id_hrs  fexf
820   980010.0     NaN   NaN


Summary of flang:
count    4042.000000
mean       -0.157138
std         0.870127
min        -3.450000
25%        -0.712500
50%        -0.056000
75%         0.430000
max         2.625000
Name: flang, dtype: float64


Missing values for flang:
      id_mexcog  id_hrs  flang
744    946720.0     NaN    NaN
820    980010.0     NaN    NaN
1040  1073210.0     NaN    NaN


Summary of forient:
count    4037.000000
mean       -0.274572
std         0.885153
min        -3.427000
25%        -0.792000
50%         0.087000
75%         0.423000
max         0.423000
Name: forient, dtype: float64


Missing values for forient:
      id_mexcog       id_hrs  forient
302    569220.0          NaN      NaN
2520        NaN   43956010.0      NaN
2634        NaN   48405020.0      NaN
2734        NaN   51522020.0      NaN
2964        NaN   64675020.0      NaN
3057        NaN   75324020.0      NaN
3330        NaN   86117010.0      NaN
4708        NaN  919519020.0      NaN


Summary of mmse:
count    2966.000000
mean       21.891099
std         3.437901
min         0.000000
25%        21.000000
50%        23.000000
75%        24.000000
max        25.000000
Name: mmse, dtype: float64


Missing values for mmse:
      id_mexcog  id_hrs  mmse
0       39720.0     NaN   NaN
1       45710.0     NaN   NaN
2       46010.0     NaN   NaN
3       46020.0     NaN   NaN
4       53310.0     NaN   NaN
...         ...     ...   ...
1708  1501520.0     NaN   NaN
1715  1503820.0     NaN   NaN
1718  1504420.0     NaN   NaN
1721  1505720.0     NaN   NaN
1724  1506220.0     NaN   NaN

[1079 rows x 3 columns]

In [46]:
# create study-specific vars 

variables = [
    'rage', 'rfemale', 'reduc', 'iage', 'ifemale', 'ieduc', 'coresi',
    'ispouse', 'ichild', 'iothfam', 'inonfam', 'fgcp', 'fmem', 'fexf',
    'flang', 'forient', 'mmse'
]

# Loop through variables and create new study-specific variables
for var in variables:
    data[f'{var}HRS'] = data[var] * data['hrs']

In [52]:
# Create z-scores for each group separately
data['zbcsidhrs'] = np.nan
data['zbcsidmex'] = np.nan

# Assign z-scores to the appropriate rows
data.loc[data['hrs'] == 1, 'zbcsidhrs'] = zscore(data.loc[data['hrs'] == 1, 'bcsid'])
data.loc[data['hrs'] == 0, 'zbcsidmex'] = zscore(data.loc[data['hrs'] == 0, 'bcsid'])

# Combine the z-scores into a single column
data['zbcsid'] = np.where(data['hrs'] == 1, data['zbcsidhrs'], data['zbcsidmex'])

# Optional: Drop the intermediate columns if not needed
data.drop(columns=['zbcsidhrs', 'zbcsidmex'], inplace=True)